:root{
    --color-main: white;
    --fc-main: #4D4D4D;
    --fc-grey: #717171;
    --fs-nav: 16px;
    --fs-h1: 45px;
    --fs-p: 12px;
    --fs-h2: 25px;
    --fs-h3: 20px;
    --main-gradient: linear-gradient(to left, #F5F7FA 80%, white);
    --ff-inter: Inter;
    --color-brand-primary: #4CAF4F;
    --color-brand-primary2: #388E3B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
    z-index: 1;
    background-color: var(--color-main);
    position: sticky;
    top: 0;
}
header > div.container{
    height: 54px;
}
div.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: var(--fc-main);
    text-decoration-color: var(--color-main);
    text-underline-offset: 4px;
    border: 1px solid var(--color-main);
}
nav a:hover{
    text-decoration-color: var(--fc-main);
}
nav a:focus{
    border-color: var(--fc-main);
    text-decoration-color: var(--fc-main);
}
nav a:active{
    border-color: var(--color-main);
    color: var(--color-brand-primary2);
    text-decoration-color: var(--color-brand-primary2);
}
header li{
    list-style: none;
}
nav{
    display: flex;
    width: 600px;
    justify-content: space-between;
}
.arrow{
    background-image: url(./src/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 8px;
    height: 4px;
    display: flex;
    margin-left: 4px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 30px;
    border-radius: 2.78px;
    color: var(--color-main);
    background: var(--color-brand-primary);
    border: none;
    cursor: pointer;
}
button:focus{
    border: 2px var(--fc-main) solid;
}
button:active{
    background-color: var(--color-brand-primary2);
    border-color: none;
}
nav, button{
    font-family: var(--ff-inter);
    font-size: var(--fs-nav);
    font-weight: 500;
}


main{
    background-image: var(--main-gradient);
    padding-bottom: 12px;
}
main div.container{
    height: 416px;
    padding: 67px 0;
}
h1{
    font-family: var(--ff-inter);
    font-size: var(--fs-h1);
    line-height: calc(var(--fs-h1)*1.18);
    font-weight: 600;
    color: var(--fc-main);
}
h1 > span, h2>span{
    color: var(--color-brand-primary);
}
p{
    font-family: var(--ff-inter);
    font-size: var(--fs-p);
    color: var(--fc-grey);
    font-weight: 400;
    margin: 12px 0 22px 0;
}
main button{
    height: 33px;
    width: 126px;
}
.main-img{
    background: url(./src/main-img.svg);
    height: 283px;
    width: 272px;
}
.dot{
    width: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.circle{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: var(--color-brand-primary);
    opacity: 0.3;
    cursor: pointer;
}
.circle.active{
    opacity: 1;
}


.our-client{
    padding: 28px 0 0 0;
}

section .text{
    margin: 0 auto;
    text-align: center;
}

h2{
    font-size: var(--fs-h2);
    font-weight: 600;
    font-family: var(--ff-inter);
    color: var(--fc-main);
}

.our-client p, .achive p{
    margin: 6px 0 12px 0;
}

div.clients{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
}

div.clients span{
    width: 31px;
    height: 31px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


section.community{
    margin-top: 28px;
}

div.suitable{
    width: 220px;
    height: 182px;
    padding: 17px 22px 17px 22px;
    box-shadow: 0px 1.39px 2.78px 0px rgba(171, 190, 209, 0.2);
    text-align: center;
    transition: 0.3s;
}
div.suitable:nth-of-type(2){
    padding: 17px 25px 17px 25px;  
    height: 192px;
}
div.suitable:hover{
    transform: scale(1.1, 1.1);
}
div.suitable span{
    width: 45px;
    height: 39px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 12px;
}

h3{
    font-family: var(--ff-inter);
    font-size: var(--fs-h3);
    line-height: calc(var(--fs-h3)*1.25);
    font-weight: 700;
    color: var(--fc-main);
}

div.suitable p, .unlock p{
    font-size: 10px;
}

section.unlock{
    margin-top: 33px;
    height: 301px;
    display: flex;
    align-items: center;
}

span.unlock-img{
    background-image: url(./src/unlock.svg);
    width: 307px;
    height: 229px;
}

.unlock span.descr{
    width: 418px;
}

.achive span.descr{
    width: 300px;
}

section.achive{
    margin-top: 33px;
    height: 203px;
    display: flex;
    align-items: center;
    background-image: var(--main-gradient);
}

.achives{
    display: flex;
    flex-wrap: wrap;
    width: 376px;
    height: 120px;
    justify-content: space-between;
}
.achives > span{
    width: 178px;
}

.achives > span > span{
    width: 33px;
    height: 33px;
    display: flex;
    float: left;
    margin-right: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}